<!--<div class="topnav" id="myTopnav">
    <a class="selected" href="index.html">Home</a>
    <a href="asif.html">Asif</a>
    <a href="laila.html">Laila</a>
    <a href="ahil.html">Ahil</a>
    <a href="ruhee.html">Ruhee</a>
    <a href="grandparents.html">Grandparents</a>
    <a href="vacation.html">Vacation</a>
    <a id="contactus" href="contactUs.html">Contact Us</a>


    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div> -->
<div class="topnav" id="myTopnav">
    <% menu.forEach(function(page){%>
        <%if(page.isSelected == true){ %>
            <a class="selected" id= "<%=page.id%>" href= "<%=page.href%>" ><%=page.display%></a>
            <% } else{ %>  
    <a id= "<%=page.id%>" href= "<%=page.href%>" ><%=page.display%></a>
    
    
<%}})%>
<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
             } else {
            x.className = "topnav";
        }
    }
</script>